include includes/mixins
html(lang="en")
	head
		include includes/ascii
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='keywords', content='Transition, Journalism, Northwestern, Medill')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-touch-fullscreen', content='yes')

		+meta("The Flux", "Stories On Transition", "http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg", "@MedillSchool", "@zlwise", "the-flux.com")

		title The Flux

		// CSS
		link(rel='stylesheet', href='css/theflux.css?v10')
		link(rel='stylesheet', href='css/theflux-index.css?v10')

		// HTML5 shim, for IE6-8 support of HTML elements
		//if lt IE 9
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
		
		// Icon
		link(rel='shortcut icon', href='img/ico/favicon.png')
		link(rel='apple-touch-icon-precomposed', href='img/ico/favicon.png')
		link(rel='apple-touch-icon-precomposed', href='img/ico/apple-touch-icon-144.png', sizes="144x144")

	body
		section.panel-nav
			div.row.panels
				div.col-md-6.col-sm-6.col-xs-6
					div.col-md-10.col-md-offset-1
						div.title-panel
							div.main-story-panel
								h1 The Flux
							span.title-sub
								h2 Stories on Transition
							p What do our identities cost us? That's the question six teams of graduate journalism students asked as they tackled six different cultures and six different economies. The result: Six interactive articles that explore what we pay in money, time, energy, and missed opportunities for every choice we make. 
							div.social
								a(href="interactive.html")
									span.icon-twitter
				div.col-md-6.col-sm-6.col-xs-6
					div.story-panel#story1
						a(href="#")
							div.story-item
								div.story-item-container
									h2 Story 1
									p Find out how food--and what our government does about it-- connects four, seemingly disparate people every day. 
				div.col-md-6.col-sm-6.col-xs-6
					div.story-panel#story2
						a(href="#")
							div.story-item
								div.story-item-container
									h2 Story 2
									p Find out how food--and what our government does about it-- connects four, seemingly disparate people every day.
			div.row.panels
				div.col-md-6.col-sm-6.col-xs-6
					div.story-panel#story3
						a(href="#")
							div.story-item
								div.story-item-container
									h2 Story 3
									p Find out how food--and what our government does about it-- connects four, seemingly disparate people every day.
				div.col-md-6.col-sm-6.col-xs-6
					div.story-panel#story4
						a(href="#")
							div.story-item
								div.story-item-container
									h2 Story 4
									p Find out how food--and what our government does about it-- connects four, seemingly disparate people every day.
				div.col-md-6.col-sm-6.col-xs-6
					div.story-panel#story5
						a(href="#")
							div.story-item
								div.story-item-container
									h2 Story 5
									p Find out how food--and what our government does about it-- connects four, seemingly disparate people every day.
				div.col-md-6.col-sm-6.col-xs-6
					div.story-panel#story6
						a(href="#")
							div.story-item
								div.story-item-container
									h2 Story 6
									p Find out how food--and what our government does about it-- connects four, seemingly disparate people every day.
		// Footer
		footer
			div.container
				p(style="text-align:center;") 
					| &copy; 2015 Northwestern University Medill School of Journalism 

		// JavaScript
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(type='text/javascript', src='js/theflux.js?v10')
		

