include includes/mixins
html(lang="en")
	head
		include includes/ascii
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='keywords', content='Transition, Journalism, Northwestern, Medill')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-touch-fullscreen', content='yes')

		+meta("The Flux", "Stories On Transition", "http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg", "@MedillSchool", "@zlwise", "the-flux.com")

		title The Flux

		// CSS
		link(rel='stylesheet', href='css/theflux.css?v10')
		link(rel='stylesheet', href='css/theflux-index.css?v10')

		// HTML5 shim, for IE6-8 support of HTML elements
		//if lt IE 9
			script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
			script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
		
		// Icon
		link(rel='shortcut icon', href='img/ico/favicon.png')
		link(rel='apple-touch-icon-precomposed', href='img/ico/favicon.png')
		link(rel='apple-touch-icon-precomposed', href='img/ico/apple-touch-icon-144.png', sizes="144x144")

	body
		section.panel-nav.container-fluid
			div.row.panels
				div.col-md-8.col-sm-8.col-xs-8
					div.col-md-8.col-md-offset-2
						div.title-panel
							div.main-story-panel
								h1 The Flux
							span.title-sub
								h2 Stories on Transition
							p TK What do our identities cost us? That's the question six teams of graduate journalism students asked as they tackled six different cultures and six different economies. The result: Six interactive articles that explore what we pay in money, time, energy, and missed opportunities for every choice we make. 
							div.social
								a(href="interactive.html")
									span.icon-twitter
				div.col-md-4.col-sm-4.col-xs-4
					div.story-panel#story1
						a(href="stories/new_lost_tribe/index.html")
							div.story-item
								div.story-item-container
									h2 The New Lost Tribe
									p Chicago’s (surprisingly large) American Indian population is tired of feeling invisible.
				div.col-md-4.col-sm-4.col-xs-4
					div.story-panel#story2
						a(href="stories/stacked_potential/index.html")
							div.story-item
								div.story-item-container
									h2 Stacked Potential
									p Vendors of nootropics promise that the drugs will sharpen your mind and unlock your true cognitive potential. And though few studies have demonstrated the drugs’ efficacy, believers from Reddit and beyond are singing their praises. Are the drugs truly a safe smart drug, or nothing more than snake oil?
			div.row.panels
				div.col-md-4.col-sm-4.col-xs-4
					div.story-panel#story3
						a(href="stories/poz_perception/index.html")
							div.story-item
								div.story-item-container
									h2 The Poz Perception
									p HIV infection rates in men has stagnated, but what it means to have and be aware of the disease has changed. Two characters from Chicago's most infected populations explain the role HIV plays in their lives and how it has transitioned in the gay male community.
				div.col-md-4.col-sm-4.col-xs-4
					div.story-panel#story4
						a(href="stories/evolution_of_labor/index.html")
							div.story-item
								div.story-item-container
									h2 The Evolution of Labor
									p The landscape for labor is changing. How will people react to Gov. Rauner's second attempt to change the Illinois labor laws?
				div.col-md-4.col-sm-4.col-xs-4
					div.story-panel#story5
						a(href="stories/finding_closure/index.html")
							div.story-item
								div.story-item-container
									h2 Finding Closure
									p When the housing bubble burst, creeping gentrification stalled in Chicago's Albany Park. But as the recovery gains momentum, residents are again seeing rents rise and eviction notices posted to their doors. With the neighborhood on the edge, families, community organizations and individual citizens are fighting (legally and illegally) to turn the transition in their favor.  

		// Footer
		footer
			div.container
				p(style="text-align:center;") 
					| &copy; 2015 Northwestern University Medill School of Journalism 

		// JavaScript
		script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script(type='text/javascript', src='js/theflux.js?v10')
		

