mixin footer
	div.footer
		p
			a(href="http://zachwise.com", target="_blank") ©2013 Zach Wise
	script(src="js/bootstrap.min.js")
	script(src="js/jquery.smooth-scroll.min.js")
	script(src="js/medill.co.js")

mixin navbar(currentpage)
	// NAV
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container
				a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar

				div.nav.pull-right
					a.brand(href="index.html") Medill Interactive

				div.nav.nav-collapse.collapse
					ul.nav

						// HOME
						if currentpage == "Home"
							li.active
								a(href="index.html") Home
						else
							li
								a(href="index.html") Home

						// Storytelling Interactive Tools
						if currentpage == "Interactive"
							li.active
								a(href="interactive.html") Interactive
						else
							li
								a(href="interactive.html") Interactive
						// HTML 101
						if currentpage == "Learning HTML"
							li.active
								a(href="html.html") HTML
						else
							li
								a(href="html.html") HTML
						// CSS
						if currentpage == "CSS"
							li.active
								a(href="css.html") CSS
						else
							li
								a(href="css.html") CSS
						// JavaScript
						if currentpage == "JavaScript"
							li.active
								a(href="javascript.html") JavaScript
						else
							li
								a(href="javascript.html") JavaScript
						// Wireframing/Sketching
						if currentpage == "Wireframe"
							li.active
								a(href="wireframe.html") Wireframing/Sketching
						else
							li
								a(href="wireframe.html") Wireframing/Sketching

						// DROPDOWN
						li.dropdown
							a.dropdown-toggle(href="#", data-toggle="dropdown")
								| Class Projects <b class="caret"></b>
							ul.dropdown-menu
								li.nav-header Class Publications
								li
									a(href="http://citymag.co") CityMag.co
								li
									a(href="http://chigut.com") ChiGut.com

								li.nav-header Class Assignments
								li
									a(href="http://resume.medill.co") Student Resume
								li
									a(href="http://projects.medill.co") Group Projects 
								
	// NAV END
		div.navbar.navbar-inverse.navbar-fixed-top
			div.navbar-inner
				div.container
					button.btn.btn-navbar(type="button",data-toggle="collapse", data-target=".nav-collapse")
					a.brand(href="index.html") Medill Tools
mixin head(title)
	!!! 5
	html(lang="en")
		include ascii
		head
			title #{title}
			meta(charset='utf-8')
			meta(name='description', content='#{title}')
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
			// Styles
			link(href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,800", rel="stylesheet", type="text/css")
			link(href="css/project.css", rel="stylesheet", type="text/css")

			// HTML5 shim, for IE6-8 support of HTML elements
			//if lt IE 9
				script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

			// JavaScript
			script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")

mixin html_sidebar(title)
	div
		

mixin html_subnav(title)
	div.main_feature
		div.container
			h1 HTML
			p.lead
				| Reference for presentations, exercises and handouts.
			div.subnav
				ul.nav.nav-pills
					// How the Web Works
					if title == "How the Web Works"
						li.active
							a(href="html_how_web_works.html") How the Web Works
					else
						li
							a(href="html_how_web_works.html") How the Web Works
					// Introduction to HTML
					if title == "Introduction to HTML"
						li.active
							a(href="html_intro.html") Introduction to HTML
					else
						li
							a(href="html_intro.html") Introduction to HTML
					// How the Web Works
					if title == "Hands On 101"
						li.active
							a(href="html_hands_on_101.html") Hands On 101
					else
						li
							a(href="html_hands_on_101.html") Hands On 101


					
	
	