include includes/mixins
mixin head("Medill Interactive")

		

body(data-spy="scroll", data-target=".subnav", data-offset="-2")
	mixin navbar("Home")

	// BEGIN CONTENT
	div.main_feature
		div.container
			h1 Medill Interactive
			p.lead
				| 

			div.subnav
				ul.nav.nav-pills
					li
						a(href="#storytelling") Interactive Storytelling
					li
						a(href="#class_material") Class materials and resources
					li
						a(href="#class_publications") Class Publications
					li
						a(href="#class_projects") Class Sites and Projects


	div.container
		// Interactive Storytelling
		section#storytelling
			div.page-header
				h2 Interactive Storytelling
				p.lead
					| Overview of Skills
			div.row
				div.span12
					img(src="img/venn-interactive.png")

		section#class_material
			div.page-header
				h2 Class materials and resources
				p.lead
					| Reference for presentations, exercises and handouts.
			// ROW
			div.row
				div.span4
					h2.featurette-heading
						a(href="interactive.html") Interactive
					p.lead
						span.muted
							| 
					p
						| Reference for presentations, exercises and handouts.

				div.span4
					h2.featurette-heading
						a(href="html.html") HTML
					p.lead
						span.muted
							| Get started with HTML
					p
						| Reference for presentations, exercises and handouts.
				div.span4
					h2.featurette-heading
						a(href="css.html") CSS
					p.lead
						span.muted
							| Get started with CSS
					p
						| Reference for presentations, exercises and handouts.
			// ROW
			div.row
				div.span4
					h2.featurette-heading
						a(href="javascript.html") JavaScript
					p.lead
						span.muted
							| Get started with JavaScript
					p
						| Reference for presentations, exercises and handouts.
				div.span4
					h2.featurette-heading
						a(href="wireframe.html") Wireframe / Sketching
					p.lead
						span.muted
							| Design thinking resources
					p
						| Reference for presentations, exercises and handouts.
				div.span4
					h2.featurette-heading
						a(href="http://timeline.verite.co/",target="_blank") TimelineJS
					p.lead
						span.muted
							| Beautifully crafted timelines that are easy, and intuitive to use.
					p
						| TimelineJS can pull in media from different sources. It has built in support for: Twitter, Flickr, Google Maps, YouTube, Vimeo, Dailymotion, Wikipedia, SoundCloud and more media types in the future. Creating one is as easy as filling in a Google spreadsheet or as detailed as JSON.
			
		

		section#class_publications
			div.page-header
				h2 Class Publications
				p.lead
					| 
				
			// ROW
			div.row
				div.span4
					h2.featurette-heading
						a(href="http://citymag.co") CityMag.co
					p.lead
						span.muted
							| Sifting through Chicago's trash and treasure
					p
						| The CityMag approach is to take an alternative view into exploring Chicago's grungier culture by featuring stories that explore background, context and compelling facts on Chicago style. 

				div.span4
					h2.featurette-heading
						a(href="http://chigut.com") ChiGut
					p.lead
						span.muted
							| Go with your gut, Chicago style.
					p
						| The ChiGut approach is to boldly explore Chicago by looking at the food that makes it special. That's because the people in this city are as diverse as the food on their plates! Each week we explore how food makes an impact on a different aspect of the city.
				div.span4
					h2.featurette-heading
						a(href="http://chigut.com") Chicago Loopster
					p.lead
						span.muted
							| 
					p
						| The Loopster approach is to look deeply into one news story per week and report beyond the breaking news to provide background, context and interesting facts on a current issue that impacts the Chicago area.

		section#class_projects
			div.page-header
				h2 Class Sites and Projects
				p.lead
					| Group Projects and published assignments
				
			// ROW
			div.row
				div.span4
					h2.featurette-heading
						a(href="http://resume.medill.co") Student Resume
					p.lead
						span.muted
							| Class asignment to create a resume in HTML
					p This is the first assignment students do in HTML. The goal is to learn about data structure, not design.

				div.span4
					h2.featurette-heading
						a(href="http://projects.medill.co") Group Project
					p.lead
						span.muted
							| Get started with HTML
					p
						| Reference for presentations, exercises and handouts.

		
		mixin footer
	
