include includes/mixins
mixin head("JavaScript")

		

body(data-spy="scroll", data-target=".subnav", data-offset="-2")
	mixin navbar("JavaScript")

	
	// BEGIN CONTENT
	div.main_feature
		div.container
			h1 JavaScript
			p.lead
				| Reference for presentations, exercises and handouts.

			div.subnav
				ul.nav.nav-pills
					li
						a(href="#intro") Introduction to JavaScript

	div.container

		// Introduction to JavaScript
		section#intro
			div.page-header
				h2 Introduction to JavaScript
				p.lead
					| JavaScript 101
			iframe(src="http://www.slideshare.net/slideshow/embed_code/18932265", width="100%", height="600", frameborder="0", allowfullscreen, webkitallowfullscreen, mozallowfullscreen)
		
		mixin footer
