include includes/mixins
mixin head("Wireframing/Sketching")

		

body(data-spy="scroll", data-target=".subnav", data-offset="-2")
	mixin navbar("Wireframe")

	
	// BEGIN CONTENT
	div.main_feature
		div.container
			h1 Wireframing/Sketching
			p.lead
				| <em>More coming soon...</em>
			div.subnav
				ul.nav.nav-pills
					li
						a(href="#wireframe_kit") Wireframe Kit

	// BEGIN CONTENT
	div.container
		// Interactive Storytelling
		section#wireframe_kit
			div.page-header
				h2 Wireframe Kit
				p.lead
					| Research and Ideation
			div.row
				div.span12
					p 
						a(href="http://medill.co/downloads/DesignDiscoveryWireframeKit.pdf", target="_blank") Download the Kit
					iframe(src="http://docs.google.com/viewer?url=http%3A%2F%2Fmedill.co%2Fdownloads%2FDesignDiscoveryWireframeKit.pdf&embedded=true", width="100%", height="600px", style="border: none;")
	div.container
		mixin footer
