.navbar {
	font-family: @font-family-navbar;
	&.navbar-default {
		background-color: transparent;
		.navbar-brand {
			color: #FFF;
		}
		.navbar-nav {
			margin-right:25px;
		}
		.navbar-nav > li > a {
			color: #FFF;
			background-color:rgba(0,0,0, 0.5);
			margin-top:25px;
		}
		.navbar-nav > li.active > a {
			color: @gray;
			background-color:#FFF;
		}
		a.navbar-brand {
			img {
				width:128px;
				height:128px;
			}
		}
		
		.navbar-toggle {
			.icon-bar {
				 background-color: #FFF;
			}
		}
		.navbar-collapse.in, .navbar-collapse.collapsing{
			background-color:rgba(255,255,255, 0.9);
			.navbar-nav > li > a {
				color: @gray;
				background-color: transparent;
				margin-top:0;
			}
			.navbar-nav > li.active > a {
				color: #FFF;
				background-color:@gray;
			}
		}
		
	}
	&.navbar-fixed-top {
	  z-index: 999 !important;
	}
	&.in-article {
		//background-color:#ffffff;
		background-color:rgba(255,255,255, 0.9);
		border-bottom: 1px solid #CCC;
		.navbar-brand {
			color: @gray;
		}
		.navbar-nav {
			margin-right:0;
		}
		.navbar-nav > li > a {
			color: @gray;
			background-color: transparent;
			margin-top:0;
		}
		.navbar-nav > li.active > a {
			color: #FFF;
			background-color:@gray;
		}
		a.navbar-brand {
			img {
				width:36px;
				height:36px;
			}
		}
		
		.navbar-toggle {
			.icon-bar {
				 background-color: #333;
			}
		}
	}
}
